*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 400px;
    background-color: gold;
    padding:30px 40px;
    border-radius: 20px;
    max-height: 500px;
    
}

.form{
    height: 50px;
    background-color: blue;
    display: flex;
    align-items: center;
    padding:0px 10px;
    position: relative;

}
.form input{
    height: 35px;
    width:100%;
    border-radius: 10px;
    padding: 0px 10px;
    border:0px;

}
.form input:focus{
    outline: none;
}
.form button{
  font-size: 28px;
  width: 32px;
  border-radius: 10px;
  position: absolute;
  right:10px;
  border: 0px;
  background-color: white;
  cursor: pointer;
  
}


.todolist{
  overflow: auto;
  padding: 10px ;
    max-height: 300px;
}

.todolist h3{
    font-size: 18px;
    font-weight: 500;
    border: 2px solid rebeccapurple;
    margin: 7px 0px;
    text-align: center;
    border-radius: 7px;
}